In [1]:
import pandas as pd
import re

In [2]:
Data_frame ='/full.csv'
df = pd.read_csv (Data_frame)
df['Name'] = df['Name'].str.upper()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"BRAUND, MR. OWEN HARRIS",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,...,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"ALLEN, MR. WILLIAM HENRY",male,35.0,0,0,373450,8.0500,...,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"SPECTOR, MR. WOOLF",male,NaN,0,0,A.5. 3236,8.0500,...,S,1227.0,"Spector, Mr. Woolf",23.0,"London, England",Southampton,New York City,NaN,NaN,3.0
1305,1306,NaN,1,"OLIVA Y OCANA, DONA. FERMINA",female,39.0,0,0,PC 17758,108.9000,...,C,229.0,"and maid, Doña Fermina Oliva y Ocana",39.0,"Madrid, Spain",Cherbourg,"New York, New York, US",8,NaN,1.0
1306,1307,NaN,3,"SAETHER, MR. SIMON SIVERTSEN",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,...,S,1169.0,"Sæther, Mr. Simon Sivertsen",43.0,"Skaun, Sør-Trøndelag, Norway",Southampton,US,NaN,32MB,3.0
1307,1308,NaN,3,"WARE, MR. FREDERICK",male,NaN,0,0,359309,8.0500,...,S,1289.0,"Ware, Mr. Frederick William",34.0,"Greenwich, London, England",Southampton,New York City,NaN,NaN,3.0
1308,1309,NaN,3,"PETER, MASTER. MICHAEL J",male,NaN,1,1,2668,22.3583,...,C,702.0,"Butrus-Youssef, Master Makhkhul",4.0,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US",D,NaN,3.0

In [5]:
def extrair_primeiro_nome(nome):
    if ". " in nome:
      primeiro_nome = nome.split(". ")[1].split(" ")[0]
      return primeiro_nome
    else:
        return ''
df['Primeiro_nome'] = df['Name'].apply(extrair_primeiro_nome)

In [8]:
nome_frequencia = df.groupby('Class')['Primeiro_nome'].agg(lambda x: x.value_counts().idxmax())
contagem_frequencia = df.groupby('Class')['Primeiro_nome'].agg(lambda x: x.value_counts().max())


resultado = pd.DataFrame({
    'Classe': nome_frequencia.index,
    'Primeiro_nome_mais_comum': nome_frequencia.values,
    'Frequencia': contagem_frequencia.values
})


resultado

   Classe Primeiro_nome_mais_comum  Frequencia
0     1.0                     JOHN          24
1     2.0                  WILLIAM          22
2     3.0                  WILLIAM          24